<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <style>
      .img-flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    </style>
    <script src="/js/rawkets/jquery-1.11.2.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>

    <div class="container" role="main">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <style>
        button.move {
          width:80px;
          height:50px;
          -webkit-user-select: none;
        }
      </style>

      <div class="table-responsive controller">
        <table class="table">
          <tr>
            <td></td>
            <td><button type="button" class="move" data-move="38"><img src="<%= static_path(@conn, "/images/up.png") %>"/></button></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><button type="button" class="move" data-move="37"><img src="<%= static_path(@conn, "/images/rotate_left.png") %>"/></button></td>
            <td></td>
            <td><button type="button" class="move" data-move="39"><img class="img-flip" src="<%= static_path(@conn, "/images/rotate_left.png") %>"/></span></button></td>
            <td style="padding-left:75px;"><button type="button" class="move" style="width:115px" data-move="32">PEW! PEW!</button></td>
          </tr>
        </table>
      </div>
    </div>

    <script type="text/javascript" src="/js/rawkets/bison.js"></script>
    <script type="text/javascript" src="/js/rawkets/Socket.js"></script>
    <script type="text/javascript" src="/js/rawkets/Vector.js"></script>
    <script type="text/javascript" src="/js/rawkets/Rocket.js"></script>
    <script type="text/javascript" src="/js/rawkets/Bullet.js"></script>
    <script type="text/javascript" src="/js/rawkets/Player.js"></script>
    <script type="text/javascript" src="/js/rawkets/Viewport.js"></script>
    <script type="text/javascript" src="/js/rawkets/Star.js"></script>
    <script type="text/javascript" src="/js/rawkets/Controller.js"></script>
    <script type="text/javascript" src="/js/rawkets/mainController.js"></script>


  </body>
</html>

